.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 280px;
  min-height: 220px;
  padding: 28px 20px 22px;

  background-color: #1d2631;
}

.download-app__button {
  display: block;
  width: 243px;
  min-height: 18px;
  margin: 0;
  padding: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: none;
  border: 3px solid #ffffff;
  border-radius: 50px;
}

.download-app__list {
  display: flex;
  justify-content: space-between;
  width: 208px;
  min-height: 56px;
  margin: 0;
  margin-top: 32px;
  padding: 0;

  list-style: none;
}

.download-app__link {
  display: flex;
  width: 47px;
  height: 56px;

  background-repeat: no-repeat;
  background-position: bottom;
}

.download-app__link--apple {
  background-image: url("../img/logo-apple.svg");
}

.download-app__link--android {
  background-image: url("../img/logo-android.svg");
}

.download-app__link--windows {
  background-image: url("../img/logo-microsoft.svg");
}

.download-app__info {
  display: flex;
  width: 270px;
  min-height: 37px;
  margin: 0;
  margin-top: 22px;
  padding: 5px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
