.editor {
  background-color: #ffffff;
}

.editor__container {
  width: 100%;
  min-height: 760px;

  background-color: #f2f2f2;
}

.editor__image {
  margin: 20px;
}
.editor__wrap {
  min-height: 132px;
}
.editor__tool-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;

  list-style: none;

  border-color: #ffffff;
  border-bottom: 1px solid #dedfe1;
}
.editor__tool-item {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.editor__tool-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  background-color: inherit;
  border: none;
  /*& svg path {
    fill: #b5babe;
  }*/
}
.editor__button {
  display: block;
  width: 280px;
  min-height: 18px;
  margin: 0 20px;
  padding: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;

  background-color: inherit;
  border-radius: 50px;
}

.editor__button--send {
  margin-top: 40px;

  color: #d22856;

  border: 3px solid #d22856;
}

.editor__button--reset {
  margin-top: 12px;

  color: #283645;

  border: 3px solid #283645;
  opacity: 0.1;
}

@media (min-width: @tablet-width) {
  .editor__container {
    display: flex;
    justify-content: space-between;
    width: 620px;
    min-height: 400px;
    padding: 57px 20px;
  }

  .editor__image {
    width: 300px;
    height: 400px;
    margin: 0;
  }

  .editor__wrap {
    width: 275px;
    min-height: 400px;
  }

  .editor__tools {
    min-height: 200px;

    border-color: #ffffff;
    border-bottom: 1px solid #dedfe1;
  }

  .editor__button {
    width: 260px;
    margin: 0;
  }

  .editor__button--send {
    margin-top: 67px;
  }

  .editor__button--reset {
    margin-top: 24px;
  }
}

@media (min-width: @desktop-width) {
  .editor {
    width: 100%;
    max-width: 1200px;
  }

  .editor__container {
    width: 800px;
    min-height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 57px 60px 57px 80px;
  }

  .editor__image {
    width: 300px;
    height: 400px;
    margin: 0;
  }

  .editor__wrap {
    width: 410px;
    min-height: 400px;
  }

  .editor__tools {
    min-height: 200px;

    border-color: #ffffff;
    border-bottom: 1px solid #dedfe1;
  }

  .editor__button {
    width: 260px;
    margin: 0;
  }

  .editor__button--send {
    margin-top: 67px;
  }

  .editor__button--reset {
    margin-top: 24px;
  }
}
