.intro {
  position: relative;

  max-width: 260px;
  min-height: 963px;
  margin: 0;
  padding: 40px 30px;
  padding-bottom: 0;

  background-color: #ffffff;
  background-image: url("../img/Shape_grey.png");
  background-repeat: no-repeat;
  background-position: bottom;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 158px;
    height: 278px;
    margin-left: -79px;

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top;
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #283645;
}

.intro__advantages-list {
  margin: 0;
  margin-top: 119px;
  padding: 0;

  list-style: none;
}

.intro__advantages-item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.intro__advantages-title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: @main-font;
  text-align: center;
  color: #000000;
}

.intro__advantages-text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}

@media (min-width: @tablet-width) {
  .intro {
    position: relative;

    width: 100%;
    max-width: 660px;
    min-height: 725px;
    margin: 0 auto;
    padding: 0;

    background: none;
    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;

      width: 0;
      height: 0;
    }
  }

  .intro__wrap {
    width: 620px;
    min-height: 244px;
    margin: 0 auto;
    padding: 0;
  }

  .intro__text {
    margin: 0;

    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
  }

  .intro__text--up {
    width: 610px;
    padding: 50px 5px 5px;
  }

  .intro__text--down {
    width: 350px;
    margin: 0 auto;
    padding: 5px 37px 5px;
  }

  .intro__list-wrap {
    position: relative;

    display: flex;
    width: 660px;
    min-height: 481px;
    margin: 0;
    padding: 0;

    background-image: url("../img/Shape_grey.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: 0 -54px;*/

    &::after {
      content: "";
      position: absolute;

      width: 286px;
      height: 547px;
      margin-left: 20px;

      background-image: url("../img/iphone-screen-2-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: top left;
    }
  }

  .intro__advantages-list {
    width: 310px;
    margin: 0;
    margin-top: 70px;
    margin-left: auto;
    padding: 0 20px;

    list-style: none;
  }

  .intro__advantages-item {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
  }

  .intro__advantages-title {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: @main-font;
    text-align: left;
    color: #000000;
  }

  .intro__advantages-text {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #283645;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    max-width: 1200px;

    background-color: #ffffff;
    background-image: url("../img/Shape_grey.png");
    background-repeat: no-repeat;
    background-position: 0 324px;
    background-size: contain;
  }
  .intro__container {
    position: relative;

    width: 100%;
    max-width: 940px;
    min-height: 950px;
    margin: 0 auto;


    &::after {
      content: "";
      position: absolute;

      width: 0;
      height: 0;
    }
  }

  .intro__wrap {
    width: 940px;
    min-height: 324px;
    margin: 0 auto;
    padding: 0;
  }

  .intro__text {
    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 50px;
    line-height: 56px;
  }

  .intro__text--up {
    width: 760px;
    padding: 70px 95px 2px;
  }

  .intro__text--down {
    width: 480px;
    margin: 0 auto;
    padding: 3px 37px;
  }

  .intro__list-wrap {
    position: relative;

    display: flex;
    width: 960px;
    min-height: 481px;
    margin: 0;
    padding: 0;

    background: none;
    /*
    background-image: url("../img/Shape_grey.png");
    background-repeat: no-repeat;
    background-position: 0 -54px;*/

    &::after {
      content: "";
      position: absolute;

      width: 0;
      height: 0;
    }
  }

  .intro__advantages-list {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
  }

  .intro__advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 627px;
    margin: 0;
    padding: 0;

    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .intro__advantages-title {
    width: 225px;
    margin: 0;
    margin-top: 355px;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .intro__advantages-text {
    width: 248px;
    margin: 0;
    padding: 26px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
