.main-navigation {
  background-color: #283645;

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}

.main-navigation__item {
  min-height: 36px;
  padding: 14px;

  text-align: center;

  box-shadow: 0 1px 0 #000000, inset 0 2px 0 rgba(255, 255, 255, 0.15);
}

.main-navigation__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  font-family: @main-font;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: @pink;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: @mobile-tablet-only) {
  .main-navigation--closed {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation {
    width: 620px;
    min-height: 18px;
    margin: 0;
    padding: 40px 0;

    background: none;
  }

  .main-navigation__item {
    min-height: 18px;
    padding: 0;

    box-shadow: none;
  }

  .main-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-navigation__link {
    position: relative;

    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    font-family: @main-font;
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
    &--current::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 0;

      display: block;
      width: 100%;
      height: 2px;

      background: #ffffff;
    }
  }
}
