.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  /*  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -60px;*/
}

.main__container {
  margin: 0 auto;

  background-color: @navi;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -60px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.main__header {
  width: 244px;
  min-height: 91px;
  margin: 0 auto;
  padding: 28px 38px 52px;

  font-weight: 300;
  font-size: 24px;
  font-family: @main-font;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .main {
    width: 100%;
    /*background-color: #293646;*/
  }

  .main__container {
    margin: 0 auto;

    background: none;

    /*background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -109px;*/
  }

  .main__header {
    width: 350px;
    min-height: 155px;
    margin: 0 auto;
    padding: 75px 155px 100px;

    font-size: 50px;
    line-height: 58px;

    &--form {
      width: 500px;
      padding: 75px 80px 82px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main {
    width: 100%;
    margin: 0 auto;

    background: none;
  }

  .main__container {
    background: none;
  }

  .main__header--photo {
    width: 370px;
    min-height: 115px;
    padding-top: 70px;
  }

  .main__header--form {
    width: 830px;
    min-height: 100px;
    padding: 65px 80px 105px;
  }
}
