.page-footer {
  width: 240px;
  height: 204px;
  padding: 40px;

  text-align: center;
}

.page-footer__logo {
  width: 147px;
  height: 40px;

  &:hover path {
    fill: @pink;
  }
}

.page-footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 42px;
  padding: 0;
}

.page-footer__developer-text {
  margin: 0;
  margin-right: 15px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @main-font;
  color: #283645;
}
