.page-footer {
  width: 100%;

  background-color: #ffffff;
}

@media (max-width: @tablet-width) {
  .page-footer--index {
    display: none;
  }
}

.page-footer__container {
  width: 240px;
  margin: 0 auto;

  text-align: center;
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 42px;
  margin: 0 auto;
  margin-top: 38px;
  padding: 0;

  &:hover path {
    fill: @pink;
  }
  &:active path {
    opacity: 0.3;
  }
}

.page-footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 38px;
  padding: 0;
}

.page-footer__developer-text {
  margin: 0;
  margin-right: 10px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @main-font;
  color: #283645;
}

.page-footer__developer-link {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 620px;
    min-height: 127px;
    margin: 0 auto;
    padding: 0;
  }

  .page-footer__logo {
    width: 147px;
    height: 40px;
    margin: 0;
    margin-top: 36px;;
  }

  .page-footer__developer {
    width: 120px;
    margin: 0;
  }
  .page-footer__developer--text {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 100%;
  }

  .page-footer__container {
    max-width: 940px;
    min-height: 197px;
    margin: 0 auto;
    padding: 0;
  }

  .page-footer__logo {
    width: 147px;
    height: 40px;
    margin-top: 95px;
  }

  .page-footer__developer {
    width: 140px;
    margin: 0;
  }

  .page-footer__developer-text {
    margin: 0;

    font-size: 18px;
  }
}
