.review {
  width: 284px;
  min-height: 330px;
  margin: 0;
  padding: 48px 18px;

  text-align: center;
}

.review__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-family: @main-font;
  color: #000000;
}

.review__text {
  margin: 0;
  padding: 0;
  padding-top: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  font-family: @main-font;
  color: #283645;
}
@media (min-width: @tablet-width) {
  .review {
    display: flex;
    flex-direction: column;
    width: 660px;
    min-height: 260px;
    margin: 0;
    padding: 0;

    text-align: center;
  }

  .review__title {
    order: 2;
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    font-family: @main-font;
    color: #000000;
  }

  .review__text {
    margin: 0;
    padding: 0;
    padding-top: 14px;

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    font-family: @main-font;
    color: #283645;
  }
}
