.review {
  width: 284px;
  min-height: 330px;
  margin: 0;
  padding: 48px 18px;

  text-align: center;

  background-color: #ffffff;
}

.review__name {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-family: @main-font;
  color: #000000;
}

.review__text {
  margin: 0;
  padding: 0;
  padding-top: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  font-family: @main-font;
  color: #283645;
}

.review__charachter {
  display: none;
}

@media (min-width: @tablet-width) {
  .review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    min-height: 260px;
    margin: 0;
    padding: 0;

    background-color: #ffffff;
  }

  .review__name {
    order: 2;
    margin-top: 34px;

    font-weight: 700;
    font-size: 20px;
  }

  .review__text {
    order: 1;
    margin: 0;
    padding: 0 20px;
    padding-top: 14px;

    font-size: 18px;
    color: #283645;
  }

  .review__charachter {
    display: block;
    order: 3;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    font-family: @main-font;
    color: #283645;
  }
}

@media (min-width: @desktop-width) {
  .review {
    width: 1200px;

    background-color: #ffffff;
  }
  .review__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    min-height: 405px;
    margin: 0 auto;
  }

  .review__name {
    margin-top: 34px;

    font-size: 24px;
    line-height: 30px;
  }

  .review__text {
    order: 1;
    width: 730px;
    margin: 0;
    padding: 0 20px;
    padding-top: 90px;

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .review__charachter {
    display: block;
    order: 3;
    margin: 0;
    padding: 0;

    font-size: 18px;
  }
}
