@pink: #d22856;
@main-font: "Open Sans", Arial, Sans-serif;
@tablet-width: 660px;
@desktop-width: 960px;
@mobile-tablet-only: 960px;
@navi: #283645;
@gray: #e5e5e5;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@font-face {
  font-family: @main-font;

  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensansbold.woff2") format("woff2"),
  url("../fonts/opensansbold.woff") format("woff"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

body {
  width: 100%;
  margin: 0 auto;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: @main-font;
}

@media (min-width: @tablet-width) {
  body {
    width: 100%;
    margin: 0 auto;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 100%;
    margin: 0 auto;

    background-color: #2d3d4e;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

@import "page-header.less";
@import "main-navigation.less";
@import "download-app.less";
@import "intro.less";
@import "review.less";
@import "page-footer.less";
@import "social-list";
@import "user-photo.less";
@import "main.less";
@import "researching.less";
@import "editor.less";
@import "application-form.less";
@import "price.less";
@import "contacts.less";
@import "main-form.less";
@import "bullet-buttons.less";
